@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*imagenes vectorizadas https://undraw.co/search */

:root {
    --color-1: #5eb319;
    --color-6:#469C00;
    --color-2: #fff;
    --color-3:#39a900;
    --color-4: #f0f0f0;
    --color-5: #707D7D;

    --light:#F5F5F5;
    --dark: #2F3B6B;
    --green: #5eb319;
    --red: #A600C7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-4);
    
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
}

::selection {
    background: var(--color-6);
    color: var(--color-2);
    font-family: 600;
}