<h1 class="title"></h1>
<ul class="breadcrumbs">
    <li><a href="#"></a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active"></a></li>
</ul>
<div class="data">
    <div class="content-data">
        <div class="head">
            <h3>Sales Report</h3>
            <div class="menu"></div>
        </div>
        <div class="chart">
            <div id="chart"></div>
        </div>
    </div>
</div>
<div class="data">
    <div class="content-data">
        <div class="head">
            <h3>Sales Report</h3>
            <div class="menu"></div>
        </div>
        <div class="chart">
            <div id="chart2"></div>
        </div>
    </div>
</div>