<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Centro Industrial de Mantenimiento Integral - SENA Regional Santander - ADSI 2364974">
    <link rel="shortcut icon" href="../img/logo.png" type="image/png">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    <link rel="stylesheet" href="../css/home.css">
	<link rel="stylesheet" href="../css/tabla.css">
    <title>Inicio</title>
    <script src="../js/home.js"></script>
</head>
<body>
    
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"></a>
		<ul class="side-menu">
			<li></li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
            <ion-icon name="menu" class="toggle-sidebar"></ion-icon>
			<form action="#"></form>
			<span class="divider"></span>
			<div class="profile">
				<img src="../img/logo.png" alt="">
				<ul class="profile-link">
					<li><a href="#"><ion-icon name="person"></ion-icon></a></li>
					<li><a href="#"><ion-icon name="log-out"></ion-icon>Salir</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div style="margin-bottom: 250px;">

			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
</body>
</html>