<h1 class="title"></h1>
<ul class="breadcrumbs">
    <li><a href="#"></a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active"></a></li>
</ul>
<div class="data">
    <div class="content-data tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th colspan="6">Tabla de datos</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Genero</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td contenteditable>Miguel Anegl</td>
                    <td contenteditable>Castro Escamilla</td>
                    <td contenteditable>23</td>
                    <td contenteditable>M</td>
                    <td>
                        <ion-icon name="cloud-upload" class="edit"></ion-icon>
                        <ion-icon name="trash" class="delete"></ion-icon>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
