<h1 class="title"></h1>
<ul class="breadcrumbs">
    <li><a href="#"></a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active"></a></li>
</ul>
<pre></pre>
<div class="data">
    <div class="content-data tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th colspan="8">Tabla de datos</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Nivel obtenido</th>
                    <th>Titulo complementario</th>
                    <th>Institución</th>
                    <th>Semestres aprobados</th>
                    <th>Identificación</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>