<h1 class="title"></h1>
<ul class="breadcrumbs">
    <li><a href="#"></a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active"></a></li>
</ul>
<pre></pre>
<div class="data">
    <div class="content-data tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th colspan="12">Tabla de datos</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Programa</th>
                    <th>Ficha</th>
                    <th>Centro</th>
                    <th>Ciudad</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Etapa productiva</th>
                    <th>ID usuario</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>