<h1 class="title"></h1>
<ul class="breadcrumbs">
    <li><a href="#"></a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active"></a></li>
</ul>
<pre></pre>
<div class="data">
    <div class="content-data tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th colspan="15">Tabla de datos</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Ocupación</th>
                    <th>Relación laboral</th>
                    <th>Medio de empleo</th>
                    <th>Salario</th>
                    <th>Empresa</th>
                    <th>Salario adecuado</th>
                    <th>¿Desempleado?</th>
                    <th>Actividades que desarrollas</th>  
                    <th>Cursos que deberíamos ofertar</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>